body{
    background-image: url("../img/clouds.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    background-color: rgba(0, 181, 204, .7);
    height: 2.7em;
}

.navbar-brand{
    font-family: 'Vidaloka', serif;
    font-size: 1.5em;
}

.title{
    font-size: 1.2em;
}

.box{
    border: 1px black solid;
    background: rgba(0, 181, 204, .5);
}

#search-man{
    color: rgba(0, 181, 204, 1);
    margin-top: 20px;
    font-family: 'Oswald', sans-serif;
}

#submitbtn2{
    margin-top: 20px;
}

#input2{
    height: 0;
    position:relative;
    z-index:10
}

#map {
    height: 15em;
}

#form{
    background-color: lightblue;
}

#search-btn{
    margin-top: 20px;
}

#header{
    font-family: 'Libre Baskerville', serif;
}

#summery{
    font-size: 1em;
}

#icon {
    text-align: center;
}